# Fichiers système
.DS_Store
Thumbs.db

# Dépendances
node_modules/
package-lock.json

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Fichiers de build
dist/
build/
out/

# Fichiers de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo

# Fichiers de cache
.cache/
.temp/
*.cache

# Fichiers de sauvegarde
*.bak
*.backup
*~ 